body {
  padding-top: 3.5rem;
}
h1{
  color:#0000FF;
}
h2{
  color:#FF0000;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0px 10px 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color:#FFFFFF;
  background: rgb(52,58,64);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 100px 30px 0px; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.odd {
	background: rgb(242,242,242);
}
.table-striped tbody tr:nth-child(odd) td {
	background-color: rgb(242,242,242);
}
.content_div {
  /*position: 
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; */
  padding: 20px 20px 20px 20px; 
}
.head_img{
	width: 40px;
	height: auto;
	margin: 0px;
	padding: 0px;
}
tr:hover{
	background: rgb(125,125,125);
}